# Database
DATABASE_URL="postgresql://username:password@localhost:5433/kreancia_dev"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Development
NODE_ENV="development"